<h2>@ViewBag.message</h2>
<form class="w3-container w3-card-4 w3-light-grey" asp-action="Giaiptb2">
    <label class="w3-text-blue">He so A: </label>
    <input class="w3-input w3-border w3-sand" type="text" name="hesoA">
    <br>
    <label class="w3-text-blue">He so B: </label>
    <input class="w3-input w3-border w3-sand" type="text" name="hesoB">
    <br>
    <label class="w3-text-blue">He so C: </label>
    <input class="w3-input w3-border w3-sand" type="text" name="hesoC">
    <br>
    <input class="w3-btn w3-brown w3-round-xxlarge" type="submit" value="Giai phuong trinh">
</form>